.ContentTitleBox {
    align-items: center;
    position: relative;
    bottom: 0;
    z-index: 1;
}

.ContentTitleBox .FeatureWrapper {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    padding: 4rem 7rem 4rem 5rem;
}

.ContentTitleBox .Title {
    color: white;
    text-align: center;
    background-color: rgb(19, 48, 95);
    z-index: 100;
    border-top: 4px solid rgb(101, 177, 255);
    padding: .1rem;
    font-size: 1.25rem;
    letter-spacing: 9px;
}

.ContentTitleBox .Description {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2.5rem;
    padding-left: 1rem;
    vertical-align: central;
    text-align: center;
}

.ContentTitleBox .FeatureWrapper .FlexItem {
    height: auto;
    width: 40vh;
    list-style-type: none;
}

.ContentTitleBox .FeatureWrapper .FlexImage {
    max-height: 24vh;
    min-width: 100%;
    object-fit: contain;
    vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
    .ContentTitleBox .FeatureWrapper .FlexItem {
        height: 30vh;
    }
}

@media (max-height: 480px) {
    .ContentTitleBox .FeatureWrapper .FlexItem {
        height: 80vh;
    }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
    .ContentTitleBox .FeatureWrapper {
        flex-direction: row;
     }
     
     .ContentTitleBox .FeatureWrapper .FlexItem {
         height: auto;
         width: 100%;
        }
    .ContentTitleBox .FeatureWrapper .FlexImage {
        width: 100%;
        max-height: 75vh;
        min-width: 0;
  }
}